body {background-color: seashell;
    font-family: 'Courier New';}
   
    h1   {color:rosybrown ;}
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
     }